# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc 

# Temp files
*~
.*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
build/
m5out/

#other
.DS_Store
*.h.gch
